@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
}

header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  transition: 0.6s;
}

.main {
  position: relative;
  width: 100%;
  min-height: 70vh;
  background: url(../images/bg\ image.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
}

header.sticky {
  background: #1483d5;
  padding: 15px 70px;
}

header .logo {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.5px;
}

header .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .menu a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  margin: 0 30px;
  padding: 5px 10px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: color, background;
}

header .menu a:hover {
  color: #000;
  background: #fff;
}

header .btn {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

@media (max-width: 1320px) {
  header .btn {
    display: block;
  }

  header .menu {
    position: fixed;
    background: #1483d5;
    flex-direction: column;
    min-width: 400px;
    height: 100vh;
    top: 0;
    right: -100%;
    padding: 80px 50px;
    transition: 0.5s;
    transition-property: right;
  }

  header .menu.active {
    right: 0;
  }

  header .menu .close-btn {
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
  }

  header .menu a {
    display: block;
    font-size: 20px;
    margin: 20px;
    padding: 5px 15px;
  }
}

.main {
  color: white;
  display: block;
}

.main > h1 {
  margin-left: -50px;
  font-size: 35px;
  font-weight: 500;
  margin-top: 120px;
  margin-bottom: 40px;
}

.main > p {
  margin-left: -50px;
  font-size: 16px;
  margin-bottom: 40px;
  font-weight: 400;
}

.main > button {
  background-color: #1483d5;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  margin-left: -55px;
}

.container-fluid {
  background-color: #1483d5;
  border-radius: 50px;
}

.heading-job_feed h2 {
  font-size: 36px;
  display: flex;
  justify-content: center;
  padding: 30px;
  letter-spacing: 3px;
}

.jobs-list-container {
  max-width: 70rem;
  margin: 20px auto;
}

.jobs-list-container .jobs img {
  width: 60px;
}

.jobs-list-container .jobs {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  gap: 50px;
}

.jobs-list-container .job {
  box-shadow: 0 4px 24px -8px rgba(2, 48, 71, 0.2);
  padding: 24px;
  border-radius: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: all 400ms ease;
}

.jobs-list-container .job:hover {
  transform: scale(1.03);
}

.jobs-list-container .job-title {
  font-size: 20px;
  padding: 10px 0;
  margin: 0;
  color: #1483d5;
}

.jobs-list-container .details {
  margin-top: 6px;
  font-size: 14px;
  color: #333;
  line-height: 1.8;
  flex: 1;
}

.jobs-list-container .details-btn {
  text-decoration: none;
  border: 1px solid #1483d5;
  color: #000;
  padding: 8px 16px;
  border-radius: 8px;
  text-align: center;
  margin-top: 20px;
  transition: all 400ms ease;
}

.jobs-list-container .details-btn:hover {
  background: #1483d5;
  color: #fff;
}

.jobs-list-container span {
  position: absolute;
  top: 25px;
  left: 160px;
  color: #e63946;
}

@media (max-width: 940px) {
  .jobs-list-container .jobs {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 640px) {
  .jobs-list-container .jobs {
    grid-template-columns: 1fr;
    max-width: 400px;
    margin: 0 auto;
  }
}

.jobs-list-container .job p {
  padding-top: 20px;
  color: grey;
}

.join-banner {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/join-us.png);
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: end;
  position: relative;
  flex-direction: column;
  padding: 30px;
  /* margin-left: 4rem;
    margin-right: 4rem; */
  margin-top: 10vh;
}

.join-banner h1 {
  margin-top: 10px;
}

.join-banner h1,
p {
  padding-bottom: 20px;
}

.join-banner .join-btn {
  outline: none;
  padding: 10px;
  background: transparent;
}

.join-btn:hover {
  background-color: #1483d5;
  color: #fff;
}

.newsletter {
  /* margin-left: 1rem;
    margin-right: 1rem; */
  margin-bottom: 10vh;
  background-image: url("../images/pngtree-recruitment-recruit-summer-vacation-holiday-picture-image_916768.jpg");
  height: 40vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.newsletter {
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 3rem;
}

.newsletter-text-section > h1 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 10px;
}

.newsletter-text-section > p {
  margin-bottom: 15px;
}

.email-container {
  display: flex;
  align-items: center;
}

.email-container > input {
  width: 250px;
  margin-right: 15px;
  border: none;
  padding: 8px;
  outline: none;
  font-size: 14px;
}

.email-container > button {
  background-color: #1483d5;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  outline: none;
  cursor: pointer;
  border: none;
}

.featured-companies {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 5rem 1rem;
}

.featured-img {
  width: 200px;
  padding: 0.2rem;
}

.companies-title {
  margin-bottom: 0.5rem;
  letter-spacing: 1.5;
  font-size: 36px;
  padding-bottom: 30px;
}

.featured-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2% 10%;
}

.featured-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 4px 24px -8px rgba(2, 48, 71, 0.2);
  transition: all 400ms ease;
  border-radius: 30px;
}

.featured-card:hover {
  transform: scale(1.03);
}

.featured-btn {
  border: 1px solid #1483d5;
  background: transparent;
  padding: 3px 10px;
  cursor: pointer;
  color: #1483d5;
  border-radius: 50px;
}

.featured-btn:hover {
  color: #fff;
  background-color: #1483d5;
}

@media (max-width: 940px) {
  .featured-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 640px) {
  .featured-container {
    grid-template-columns: 1fr;
    max-width: 400px;
    margin: 0 auto;
  }
}

.testimonial-container .container {
  display: grid;
  place-items: center;
  height: 20vh;
}
.section-header {
  position: relative;
  margin-top: 5px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  color: #333;
  letter-spacing: 0.5px;
}
.section-header p {
  display: block;
  font-size: 15px;
  font-weight: 300;
  padding-top: 30px;
}
.testimonials {
  width: 100%;
  padding: 0 15px 20px;
  margin: 0 auto 80px auto;
  border-radius: 50px;
}
.testimonial-item {
  background: #fff;
  color: #111;
  padding: 15px;
  margin: 50px 15px;
  border-radius: 25px;
  box-shadow: 0 4px 24px -8px rgba(2, 48, 71, 0.2);
}
.profile {
  margin-bottom: 30px;
  text-align: center;
}
.img-area {
  margin: 0 15px 15px 15px;
}
.img-area img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 7px solid #1483d5;
}
.content {
  font-size: 18px;
}
.content p {
  text-align: justify;
}
.content p span {
  font-size: 48px;
  margin-right: 20px;
  color: #1483d5;
}
.socials i {
  margin-right: 25px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #1483d5;
  border-radius: 5px;
  padding: 20px;
}

footer {
  position: absolute;
  margin-top: 800px;
  left: 0;
  right: 0;
  background: #1483d5;
  height: 50px;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #1483d5;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;
}
.socials a i {
  font-size: 1.1rem;
}

.socials a:hover i {
  color: #000;
}

.footer-bottom {
  background: #1b8fe2;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span {
  opacity: 0.9;
  font-weight: 200;
}

@media (max-width: 990px) {
  .footer-content p,span{
    width: 50%;
  }
}
